.nav-ul li{
  display: inline-block;
  padding: 5px;
}

.nav-ul li a{
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}